*{
    margin:0;
    padding:0;
}

.player1{
    display: flex;
    flex-grow: 1;
}



.body
    {
        display: flex;
        color: white;
         height: 100%;
      }


.sidebar{
    flex:0.2;
    min-width:230px;
    
}


.player_footer{
    position:fixed;
    bottom:0;
    height: 65px;
    width: 100%;
}